%h1.text-center Rateart brow!
%p Non felis ornare consectetuer. Sed lorem. Nam leo. In eget pede. Donec
porta.  Etiam facilisis. Nam suscipit. Ut consectetuer leo vehicula augue. Aliquam
cursus. Integer pharetra rhoncus massa. Cras et ligula vel quam tristique
commodo. Sed est lectus, mollis quis, lacinia id, sollicitudin nec, eros.
Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
cubilia Curae; Morbi urna dui, fermentum quis, feugiat imperdiet, imperdiet id,


#pomp{style: "width:900px;height:1250px;"}
%script
  = render 'plots/example.js'
