$primary_color: #9EBCBD;
$primary_color_hover: black;
$default_grey: #424242;

// NOTICES AND ERRORS
$error_msg_background: lighten(red, 30%);
$error_msg_color: black;
$notice_msg_background: lighten(green, 10%);
$notice_msg_color: black;
