@import 'imports/variables';

body {
  overflow-x: scroll!important;
  overflow-y: scroll!important;
  width: $modul-width;
  height: $modul-height;
  box-sizing: border-box;
  border: 10px solid white;
}

.start-text.modul-width {
  padding: 100px;
}

.modul-width {
  width: $one-modul-width;
}

.example-quote {
  position: absolute;
  left: 3 * $one-modul-width;
  top: 3.3 * $one-modul-height;
}
